These are the files which are not to be committed.

/Users/harsh/Downloads/Wizzy-Downloader-master/manage.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/__init__.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/admin.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/apps.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/forms.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/models.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/tests.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/urls.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/views.py

/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/__pycache__/__init__.cpython-35.pyc
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/__pycache__/admin.cpython-35.pyc
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/__pycache__/apps.cpython-35.pyc
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/__pycache__/forms.cpython-35.pyc
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/__pycache__/models.cpython-35.pyc
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/__pycache__/urls.cpython-35.pyc
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/__pycache__/views.cpython-35.pyc
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/migrations/__pycache__
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/migrations/0001_initial.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/migrations/0002_auto_20170612_1825.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/migrations/0003_auto_20170612_1827.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/migrations/0004_delete_user.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/migrations/0005_videolist.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/migrations/0006_auto_20170617_1402.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/migrations/0007_auto_20170617_1421.py
/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/templatetags/__pycache__

/Users/harsh/Downloads/Wizzy-Downloader-master/downloader/templatetags/get_list.py

/Users/harsh/Downloads/Wizzy-Downloader-master/YouTubeDownloader/__init__.py

/Users/harsh/Downloads/Wizzy-Downloader-master/YouTubeDownloader/__pycache__

/Users/harsh/Downloads/Wizzy-Downloader-master/YouTubeDownloader/settings.py
/Users/harsh/Downloads/Wizzy-Downloader-master/YouTubeDownloader/urls.py
/Users/harsh/Downloads/Wizzy-Downloader-master/YouTubeDownloader/wsgi.py

